@font-face {
    font-family: 'Arimo-Bold';
    src: url('../../fonts/Arimo-Bold.eot');
    src: url('../../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Arimo-Bold.woff2') format('woff2'),
    url('../../fonts/Arimo-Bold.woff') format('woff'),
    url('../../fonts/Arimo-Bold.ttf') format('truetype'),
    url('../../fonts/Arimo-Bold.svg#Arimo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo-Regular';
    src: url('../../fonts/Arimo-Regular.eot');
    src: url('../../fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Arimo-Regular.woff2') format('woff2'),
    url('../../fonts/Arimo-Regular.woff') format('woff'),
    url('../../fonts/Arimo-Regular.ttf') format('truetype'),
    url('../../fonts/Arimo-Regular.svg#Arimo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Arimo-Regular', sans-serif;
    background: #3A4965;
    padding: 22px 30px;
}

.table__wrapper {
    background: #FAFAFA;
    margin: 0 auto;
}

tbody {
    vertical-align: middle;
}

tr {
    vertical-align: inherit;
}

th, td {
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    padding: 23px 60px;
    vertical-align: inherit;
    border-bottom: none;
    border-top: none;
}

.table__wrapper__inner__title {
    font-family: 'Arimo-Bold', sans-serif;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
    font-size: 18px;
}

.table__wrapper__inner__title p {
    color: #484848;
    text-align: center;
    font-size: 30px;
    line-height: 28px;
    text-transform: uppercase;
}


.table__wrapper__inner__subtitle {
    text-align: center;
}

.table__wrapper__inner__subtitle {
    color: #FFF;
    font-size: 24px;
    font-family: 'Arimo-Bold', sans-serif;
    line-height: 28px;
    text-transform: uppercase;
    border: none;
}

.green {
    background: #89C331;
}

.red {
    background: #F04A56;
}

.blue {
    background: #20807C;
}

table {
    border-collapse: inherit;
}

.table__wrapper__inner__price {
    font-family: 'Arimo-Bold', sans-serif;
    color: #484848;
    text-transform: uppercase;
    font-size: 60px;
    position: relative;
}

.cent {
    font-size: 24px;
    line-height: 28px;
}

.date {
    font-family: 'Arimo-Regular', sans-serif;
    text-transform: uppercase;
    line-height: 28px;
    color: #484848;
    font-size: 18px;
    position: relative;
    top: -10px;
    left: -10px;
}

.category__title {
    text-align: center;
    color: #484848;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Arimo-Regular', sans-serif;
    font-weight: 400;
}

.category__subtitle {
    text-align: center;
}

.category__title svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: bottom;
}

.category__title svg path {
    fill: #848484;
}

.category__subtitle {
    color: #484848;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
}

.light {
    background: #F2F2F2;
}

.medium {
    background: #E3E3E3;
}

.category__title.medium {
    background: #dddddd;
}

.category__title__contact.light {
    background: #EEEEEE;
}

.category__title__contact {
    padding: 28px 57px;
}

.category__title__btn {
    font-family: 'Arimo-Bold', sans-serif;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    padding: 20px 45px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.category__title__btn.gray {
    background: #484848;
}

.category__title__btn:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9px;
    border-radius: 0 0 5px 5px;
}

.category__title__btn.gray:after {
    background: #404040;
}

.category__title__btn.green:after {
    background: #79B027;
}

.category__title__btn.red:after {
    background: #DF3A46;
}

.category__title__btn.blue:after {
    background: #16736F;
}